
<script>  // Redirect to home page after 3 seconds
    setTimeout(function() {
        alert('Thank you for your interest. Our team is currently engaged in other tasks and may not be immediately available to respond to your inquiry. For urgent assistance, please feel freee to contact us directly at +91 9152091676.')
     window.location.href = "/";
   }, 0000);
 
 
 
   function cancel() {
     console.log('cancel button clicked')
     window.location.href = "/cancel_sms";
   } </script>
   


