{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importing bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-wff0rM/r3rFCk/XZDg02Y0Vu14O5D6Ilyl6UzX9U5O5k01+aWQeHbMI0i6wYMNfg7hN+a2NvGefP9oC52zj8/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-Xri1xQmTJNZYb2piOehk+L/9JthdM0ZDMJF+PfCJ4N4c/D8jBU5ueyf5hmVEmMR9rLW8BvrATJ6Uj7jsvPDX6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-VgPpV7rO9rWf/O8gU6JiU6BLPvBxWUqC9Hc4m4JgR1aGnM7uROiKFfZSrtW5e5j5E3Xz2F4y/w4OzLPCg/xKjw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-MiOiJMlKzZY0LvxY+jb8tbvNlQUoQ2HtpMwW6m8nBHVH9mU9K6U1dYh8JFqPbCYMKn0wFh/iIX0B1dCv1T9XhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-30Zvp5i5PqMgePQ9/s4B4yehmRxEHpmEKCC1gvuN7VZnkFQoMdCsVZOfaIzXtV45STG8zY1pbL74f1CbkV7I0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    
    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'utils.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-wff0rM/r3rFCk/XZDg02Y0Vu14O5D6Ilyl6UzX9U5O5k01+aWQeHbMI0i6wYMNfg7hN+a2NvGefP9oC52zj8/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Applied Skill</title>

  

</head>
<body>
    <!-- start here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/as_logo.png' %}" alt="Logo" height="30">
          <span class="navbar-brand mb-0 brand_logo"><strong>Applied Skill</strong></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-dark fw-bold" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark fw-bold" href="#">About</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark fw-bold" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Course 1</a></li>
                <li><a class="dropdown-item" href="#">Course 2</a></li>
                <li><a class="dropdown-item" href="#">Course 3</a></li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link text-dark fw-bold" href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div class="justify-content-end d-flex">
          
          <a href="tel:+919152091676" class="nav-link text-dark fw-bold">
            
            <i class="fas fa-phone-square"></i>
            +91 9152091676
          </a>
        </div>
      </div>
    </nav>
    

      <section id="section-urgencyBar" class="py-2 bg-warning">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img src="https://upgrad-instapage-scripts.s3.ap-south-1.amazonaws.com/tech/alarm_icon.gif" alt="urgencyBar" title="urgencyBar" height="24" width="24" class="mr-2">
            <p class="mb-0 text-center">Don't miss out! The next batch starts in <strong>02 days : 06 hours</strong></p>

          </div>
          <div class="d-flex align-items-center">
            <button class="btn btn-primary mr-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply Now</button>
          </div>
        </div>
      </section>
    <!-- showcase -->
    <section id="showcase" class="py-5">
        <div class="primary-overlay text-white">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 text-start">
                <h1 class="display-4 mb-4">Discover the art and science of data with our immersive, hands-on training programs</h1>
                <p class="lead mb-4">From AI to machine learning, our data science courses cover the latest and greatest technologies.</p>
                <a href="#" class="btn btn-outline-secondary me-3 custom-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply Now</a>
                <a href="https://www.youtube.com/watch?v=2adrcryL2M4&list=PL-9PAM-PL6lcfQuDqEP9rDQpLfqmAhuha" class="btn btn-outline-secondary custom-btn">
                  <span class="fa fa-arrow-right fa-fw blink"></span> Demo Video
                </a>
              </div>
              <div class="col-lg-5 text-center">
                <img src="{% static 'img/rahul_port_2.jpg' %}" alt="" class="img-fluid mt-5 mt-lg-0" style="max-height: 400px; border-radius: 50%;">



              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- modal start -->

      <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply Now</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post" action="/send-sms">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter your mobile number">
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
                </div>
            </div>
            </div>
        </div>

      <!-- modal end here -->
      

      <div class="container-fluid border rounded-lg py-4 cream-background">
        <h2 class="mb-4 text-center">About the Programme</h2>
    
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Real-world Projects </h5>
                  <p class="card-text">Gain hands-on experience with real-world projects in data analysis, machine learning, and more.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Expert Instructors</h5>
                  <p class="card-text">Learn from industry experts and leading data scientists with years of experience in the field.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Flexible Schedule</h5>
                  <p class="card-text">Take the course at your own pace with our flexible schedule and 24/7 access to course materials.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Career Support</h5>
                  <p class="card-text">Get personalized career support with resume reviews, interview prep, and job search assistance.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Community</h5>
                  <p class="card-text">Join a community of like-minded data enthusiasts to share knowledge and collaborate on projects.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">14+ Programming Tools</h5>
                  <p class="card-text">Learn to work with popular programming tools and languages, including Python, R, SQL, and more.</p>
                </div>
              </div>
            </div>
          </div>
      </div>


      <div class="container-fluid border rounded-lg py-5  light-background">
        <div class="row">
          <div class="col-md-8">
            <h2 >Syllabus</h2>
            <p>Best-in-class content by leading faculty & industry experts in the form of videos, industry projects, assignments & live sessions</p>
           
          </div>
          <div class="col-md-4 text-center">
            <a href="/download_csv" download class="btn btn-outline-secondary me-3 custom-btn">
                 Download Syllabus
            </a>
          </div>
        </div>

        <div class="accordion" id="accordionExample">
           
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      SQL and Python
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body" style="color: black;">
                    SQL (Structured Query Language) is a programming language used to manage and manipulate 
                    relational databases. It is widely used in data science to extract data, run queries, 
                    and perform data analysis.

                    Python is a versatile and powerful programming language that is widely used in data science. It includes libraries such as NumPy, Pandas, and Scikit-learn that enable data scientists to perform data manipulation, data analysis, and machine learning tasks. Python is also used in building data pipelines and web applications. Understanding Python and its data science libraries is a key component of a successful data science career.
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Basic Math (LA) 
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body" style="color: black;">
                    Mathematics is an essential part of data science. It includes topics such as linear algebra, calculus, statistics, and probability. These topics help data scientists understand the underlying mathematical concepts behind machine learning models and data analysis techniques.
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Data Visualization
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body" style="color: black;">
                    Data visualization is the graphical representation of data and information. It is used to communicate complex data in an easy-to-understand format. Data visualization tools such as Matplotlib, Tableau, and D3.js can help data scientists create effective visualizations.
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Machine Learning
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body" style="color: black;">
                    Machine learning is a subfield of artificial intelligence that focuses on building algorithms that can learn from and make predictions on data. It includes topics such as supervised learning, unsupervised learning, deep learning, and reinforcement learning.
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      Text Processing(NLP)
                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="card-body" style="color: black;">
                    Natural Language Processing (NLP) is a subfield of artificial intelligence that focuses on enabling machines to understand and interpret human language. It includes topics such as text processing, sentiment analysis, and language translation.
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingSeven">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      Big Data
                    </button>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                  <div class="card-body" style="color: black;">
                    Big data refers to the large volume of data – both structured and unstructured – that inundates a business on a day-to-day basis. It includes topics such as Hadoop, Spark, and NoSQL databases. Understanding big data tools and techniques is essential for handling and analyzing large data sets.
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingEight">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      MLOps
                    </button>
                  </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                  <div class="card-body" style="color: black;">
                    MLOps (Machine Learning Operations) is the practice of applying DevOps principles to the machine learning lifecycle. It includes topics such as version control, continuous integration and deployment, and monitoring and feedback. MLOps helps data scientists manage and deploy their machine learning models in a scalable and efficient way.
                  </div>
                </div>
              </div>

        </div>
         
        <div class="container-fluid justify-content-between rounded-lg py-1 text-center" style="margin-top: 30px;" >
            <div class="row">
              <div class="col-sm-3">
                <h3>Course Duration</h3>
                <p>60+ hours</p>
              </div>
              <div class="col-sm-3">
                <h3>Placement</h3>
                <p>100%</p>
              </div>
              <div class="col-sm-3">
                <h3>Course Rating</h3>
                <p>4.5 stars</p>
              </div>
              <div class="col-sm-3">
                <h3>Mode</h3>
                <p>LIVE Online</p>
              </div>
            </div>
          </div>
          

      </div>
      <section id="section-urgencyBar" class="py-2 bg-warning">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img src="https://upgrad-instapage-scripts.s3.ap-south-1.amazonaws.com/tech/alarm_icon.gif" alt="urgencyBar" title="urgencyBar" height="24" width="24" class="mr-2">
            <p class="mb-0 text-center">Don't miss out! The next batch starts in <strong>02 days : 06 hours</strong></p>

          </div>
          <div class="d-flex align-items-center">
            <button class="btn btn-primary mr-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply Now</button>
          </div>
        </div>
      </section>
      <div class="container-fluid border rounded-lg py-5  cream-background"></div>

      <section id="instructor" class="bg-light py-5 about-background">
        <div class="container">
          <h2 class="text-center mb-5">Meet Our Instructor</h2>
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <img class="card-img-top " src="{% static 'img/profile_rahul.jpg' %}" alt="Instructor Image" style="width: 150px; height: 150px;">
                <div class="card-body">
                  <h4 class="card-title">Rahul Tiwari</h4>
                  <p class="card-text">Having 6+ year of experience in teaching Applied mathematics for IIT-JEE, GATE.
                    4+ Year of experience in data science domain.</p>
                  <a href="https://in.linkedin.com/in/rahul-tiwari-120897" class="btn btn-primary">Know More</a>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </section>



      <!-- pop up modal start here -->

            <!-- Modal HTML -->
            <div id="enquiryModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Course Enquiry</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">
                          <p>Please provide us with your details so we can assist you better:</p>
                          <form method="post" action="/submit_enquiry">
                            {% csrf_token %}
                              <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="email" class="form-control" id="email" placeholder="Enter your email">
                                  </div>
                              </div>
                              </div>
                              <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                  <label for="phone">Phone</label>
                                  <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                  <label for="country">Country</label>
                                  <select class="form-control" id="country">
                                      <option value="">Select your country</option>
                                      <option value="USA">USA</option>
                                      <option value="Canada">Canada</option>
                                      <option value="India">India</option>
                                      <option value="China">China</option>
                                      <option value="UK">UK</option>
                                      <option value="Other">Other</option>
                                  </select>
                                  </div>
                              </div>
                              </div>
                              <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                  <label for="experience">Years of Experience</label>
                                  <input type="number" class="form-control" id="experience" placeholder="Enter your years of experience">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                  <label for="education">Highest Education Level</label>
                                  <select class="form-control" id="education">
                                      <option value="">Select your highest education level</option>
                                      <option value="High School">High School</option>
                                      <option value="Bachelor's Degree">Bachelor's Degree</option>
                                      <option value="Master's Degree">Master's Degree</option>
                                      <option value="PhD">PhD</option>
                                      <option value="Other">Other</option>
                                  </select>
                                  </div>
                              </div>
                              </div>
                              <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                  <label for="comments">Comments</label>
                                  <textarea class="form-control" id="comments" placeholder="Enter any additional comments or questions"></textarea>
                                  </div>
                              </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                          
                      </div>
                     
                  </div>
              </div>
          </div>

      <!-- pop up modal ends here -->

      <section id="career-opportunities" class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Career Opportunities</h2>
              <p>After completion of this course, you will be qualified for a variety of positions in the tech industry, including:</p>
              <ul>
                <li>Data Analyst</li>
                <li>Data Scientist</li>
                <li>Business Analyst</li>
                <li>Database Administrator</li>
                <li>Machine Learning Engineer</li>
                <li>Big Data Engineer</li>
              </ul>
            </div>
            <div class="col-md-6">
              <img src="{% static 'img/90440.jpg' %}" alt="Career Opportunities" class="img-fluid">
            </div>
          </div>
        </div>
      </section>


      <section id="case-studies" class="py-5 cream-background">
        <div class="container">
          <h2 class="text-center mb-5">Case Studies</h2>
          <div class="row">
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                <img src="{% static 'img/credit_risk.jpg'%}" class="card-img-top" alt="Case Study 1">
                <div class="card-body">
                  <h4 class="card-title">Case Study:  Credit Risk Modeling</h4>
                  <p class="card-text">Credit risk modeling is an important tool for financial institutions to assess the risk associated with lending money. With the help of data science, financial institutions can analyze creditworthiness by considering a variety of factors such as income, credit score, debt-to-income ratio, and payment history. By modeling credit risk, banks can mitigate the risk of default and make more informed lending decisions.</p>
                  <!-- <a href="#" class="btn btn-primary">Read More</a> -->
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                <img src="{% static 'img/health.jpg'%}" class="card-img-top" alt="Case Study 2">
                <div class="card-body">
                  <h4 class="card-title">Case Study:  Image-based Healthcare Project</h4>
                  <p class="card-text">Image-based healthcare projects 
                    involve using computer vision and machine learning 
                    techniques to analyze medical images such as X-rays, 
                    CT scans, and MRIs. This can help doctors and radiologists
                     to more accurately diagnose diseases and provide better 
                     treatment options.</p>
                  <!-- <a href="#" class="btn btn-primary">Read More</a> -->
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                <img src="{% static 'img/mlops.jpg'%}" class="card-img-top" alt="Case Study 3">
                <div class="card-body">
                  <h4 class="card-title">Case Study: E22 MLOps</h4>
                  <p class="card-text">MLOps is the practice of applying DevOps principles to machine learning workflows. E22 is a company that specializes in providing MLOps solutions to organizations that want to streamline their machine learning workflows. By automating the machine learning pipeline, organizations can reduce the time and resources required to deploy models into production. </p>
                  <!-- <a href="#" class="btn btn-primary">Read More</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="fixed-buttons">
        <a href="tel:+919152091676"><i class="fa fa-phone"></i></a>
        <a href="https://wa.me/919152091676"><i class="fa fa-whatsapp"></i></a>
      </div>
     

      

      

      <footer class="bg-light py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <h3 class="navbar-brand mb-0 brand_logo">Applied Skill</h3>
              <p class="text-muted">We offer top-quality data science training led by experienced instructors and industry experts. Our courses cover beginner and advanced topics, including machine learning and deep learning. Our goal is to empower individuals and organizations to use data to drive innovation and make informed decisions.</p>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <h3>Other Courses</h3>
              <ul class="list-unstyled">
                <li><a href="#">Full Stack Web development</a></li>
                <li><a href="#">Python Programming</a></li>
                <li><a href="#">Mathematics for AI and ML</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h3>Contact Us</h3>
              <p class="text-muted">201/Navdeep Bld. Viman Nagar<br>Pune, India <br>info@appliedskill.com<br>+91 9152091676</p>
            </div>
          </div>
          <hr>
          <div class="text-center">
            <p class="text-muted">&copy; 2023 Applied Skil. All Rights Reserved.</p>
          </div>
        </div>
      </footer>

</body>
</html>